# PlayStation Network Configuration
# Get your NPSSO token from: https://ca.account.sony.com/api/v1/ssocookie
# (You must be logged into your PlayStation account)

PSN_NPSSO=your_npsso_token_here
PSN_ONLINE_ID=your_psn_online_id_here
