.skills__container {
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.skill__filters {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.skill__item {
  font-weight: var(--font-bold);
}

.skills__card {
  padding: 1.875rem;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  transition: all 0.3s ease-in-out;
}

.skills__card:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills__card {
    padding: 0.5rem;
  }
}
