.resume__container {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.875rem;
}

.resume-slash {
  color: #cb70aa;
}

.timeline {
  background-color: var(--container-color);
  padding: 1.875rem;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--shadow);
}

.timeline__item {
  position: relative;
  padding-left: 3.125rem;
  padding-bottom: 3.125rem;
}

.timeline__item:last-child {
  padding-bottom: 0;
}

.timeline__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.25rem;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
}

.timeline .fa-graduation-cap,
.timeline .fa-briefcase {
  position: absolute;
  left: -0.7rem;
  top: -0.5rem;
  font-size: var(--h2-font-size);
  color: hsl(249, 23%, 12%);
  background-color: transparent;
  padding: 0.4375rem 0;
}

.timeline__date {
  color: #8b88b1;
  font-size: var(--small-font-size);
}

.timeline__title {
  font-size: var(--h3-font-size);
  margin: 0.5rem 0;
}

.timeline__institution,
.timeline__url {
  color: #8b88b1;
  font-size: var(--small-font-size);
}

.timeline__text,
.timeline__thesis {
  text-align: justify;
  text-justify: distribute;
  font-size: 13px;
}

.timeline__institution {
  margin-bottom: 0.5rem;
}

mark {
  background-color: hsl(35, 87%, 72%);
}

@media screen and (max-width: 768px) {
  .resume__container {
    grid-template-columns: 380px;
    row-gap: 1.875rem;
    justify-content: center;
  }
  .timeline__item {
    padding-left: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .timeline__item::before {
    left: 0;
  }

  .timeline .icon-briefcase,
  .timeline .icon-graduation {
    left: -9px;
  }

  .timeline__text {
    text-align: justify;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .resume__container {
    grid-template-columns: 700px;
    row-gap: 1.875rem;
    justify-content: center;
  }
  .timeline__item::before {
    left: 2px;
  }
}

@media screen and (max-width: 350px) {
  .resume__container {
    grid-template-columns: 1fr;
  }
  .timeline__item {
    padding-left: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .timeline__item::before {
    left: 0;
  }

  .timeline .icon-briefcase,
  .timeline .icon-graduation {
    left: -9px;
  }

  .timeline__text {
    text-align: justify;
  }
}
