.aside {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 0.3s;
}

.theme-toggle-item {
  margin-bottom: 1rem;
}

.theme-toggle-item .theme-toggle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  border-radius: 20px;
  padding: 0.75rem 0.5rem;
}

.theme-toggle-item .theme-toggle-track {
  width: 24px;
  height: 50px;
  border-radius: 12px;
}

.theme-toggle-item .theme-toggle-thumb {
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.theme-toggle-item .theme-toggle.dark .theme-toggle-thumb {
  transform: translateY(26px);
}

.theme-toggle-item .theme-toggle.light .theme-toggle-thumb {
  transform: translateY(0);
}

.theme-toggle-item .theme-label {
  margin-top: 0.5rem;
  font-size: var(--smaller-font-size);
}

.fa-code {
  color: hsl(249, 23%, 12%);
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav__link {
  font-size: 1rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: hsl(189deg, 43%, 73%);
}

.language-dropdown {
  width: 2.5vw;
}

.language-dropdown__dropdown-indicator {
  margin-right: 0.5rem;
}
.language-dropdown__control {
  border: none !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
}

.language-dropdown__value-container {
  padding: 0.3rem;
  width: 100%;
  overflow: visible;
  text-align: center;
}

.language-dropdown__menu {
  margin-top: 0.5rem;
  width: 100%;
}

.language-dropdown__option {
  padding: 0.3rem;
}

.language-dropdown__option--is-selected {
  background-color: transparent;
  color: #fff;
}

.copyright {
  color: hsl(245, 15%, 65%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  align-items: center;
}

.nav__toggle {
  position: fixed;
  top: 1.25rem;
  left: 1.875rem;
  cursor: pointer;
  height: 40px;
  width: 45px;
  background-color: var(--body-color);
  border: 2px solid #e8dfec;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }

  .nav__toggle {
    display: flex;
  }
  .nav__toggle-open {
    left: 140px;
  }
  .show-menu {
    left: 0;
  }

  .language-dropdown {
    width: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .language-dropdown {
    width: 5vw;
  }
}

@media screen and (max-width: 576px) {
  .aside {
    align-items: center;
  }
  .language-dropdown {
    width: 10vw;
  }
  .copyright {
    font-size: 0.5rem;
  }
  .nav__list {
    row-gap: 1rem;
  }
  .nav__link {
    font-size: 0.8rem;
  }
}
