/*==================== Local Font ==============*/
@font-face {
  font-family: JunMono;
  font-style: normal;
  font-weight: 300;
  src: local("JunMono"), url("./font/JunMono.otf") format("opentype");
}

@font-face {
  font-family: IntroScript;
  font-style: normal;
  font-weight: 300;
  src: local("IntroScript"), url("./font/IntroScript.otf") format("opentype");
}
@font-face {
  font-family: Rhode;
  font-style: normal;
  font-weight: 300;
  src: local("Rhode"), url("./font/Rhode.ttf") format("truetype");
}
@font-face {
  font-family: Sunflower;
  font-style: normal;
  font-weight: 300;
  src: local("Sunflower"), url("./font/Sunflower.otf") format("opentype");
}
@font-face {
  font-family: iAWriterDuoSpace-Regular;
  font-style: normal;
  font-weight: 300;
  src: local("iAWriterDuospace-Regular"),
    url("./font/iAWriterDuospace-Regular.otf") format("opentype");
}

/*============== Variable CSS ==============*/

:root {
  /*===== Colors======*/
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 35%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;

  /*===== Fonts ======*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: iAWriterDuospace-Regular;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;

  /*===== Font weight ======*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Box Shadow ======*/
  --shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

  /*===== Border Radius ======*/
  --border-radius: 20px;
}

/*==================== Responsive typography ==============*/
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== Base CSS ==============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

/*=============== Dark Mode ==============*/

body.dark-mode {
  background-color: hsl(249, 23%, 12%);
  color: hsl(248, 49%, 91%);
}

.dark-mode .fa-code {
  color: hsl(248, 49%, 91%);
}

.dark-mode .nav__logo:hover,
.dark-mode .nav__link:hover {
  color: rgb(196, 167, 231);
}
.dark-mode .aside {
  background-color: hsl(249, 23%, 12%);
}

.dark-mode .language-dropdown__control,
.dark-mode .language-dropdown__value-container,
.dark-mode .language-dropdown__single-value {
  background-color: transparent;
  color: hsl(248, 49%, 91%);
}

.dark-mode .language-dropdown__menu {
  color: hsl(248, 49%, 91%);
  background-color: hsl(249, 23%, 12%);
}

.dark-mode .nav__link {
  color: hsl(248, 49%, 91%);
}

.dark-mode .home__name {
  color: hsl(248, 49%, 91%);
}

.dark-mode .home__img {
  box-shadow: 0px 5px 30px 10px rgba(196, 167, 231, 0.7);
}

.dark-mode .socials__link {
  color: hsl(248, 49%, 91%);
}

.dark-mode .socials__link:hover {
  color: rgb(196, 167, 231);
}

.dark-mode .btn {
  background-color: rgb(196, 167, 231);
  color: hsl(249, 23%, 12%);
}

.dark-mode .home__scroll-name {
  color: hsl(248, 49%, 91%);
}

.dark-mode .mouse {
  border: 2px solid hsl(248, 49%, 91%);
}

.dark-mode .wheel {
  background-color: hsl(248, 49%, 91%);
}

.dark-mode .section__title {
  color: hsl(248, 49%, 91%);
}

.dark-mode .about__data {
  background: rgba(29, 29, 45, 0.54);
  backdrop-filter: blur(5px);
}

.dark-mode .about__data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid rgba(29, 29, 45, 0.54);
  border-bottom: 10px solid rgba(29, 29, 45, 0.54);
  border-right: 15px solid rgba(29, 29, 45, 0.54);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}

.dark-mode .skills__name {
  color: hsl(248, 49%, 91%);
}

.dark-mode .skills__card {
  background: rgba(29, 29, 45, 0.54);
  backdrop-filter: blur(5px);
}

.dark-mode .timeline {
  background: rgba(29, 29, 45, 0.54);
  backdrop-filter: blur(5px);
}

.dark-mode .timeline__title {
  color: hsl(248, 49%, 91%);
}

.dark-mode .timeline__item::before {
  background-color: hsl(344, 76%, 68%);
}

.dark-mode .timeline .fa-graduation-cap,
.dark-mode .timeline .fa-briefcase {
  color: hsl(248, 49%, 91%);
}

.dark-mode .work__mask {
  background: hsl(249, 15%, 38%);
}

.dark-mode .work__category {
  background-color: hsl(344, 76%, 68%);
}

.dark-mode .work__button {
  color: rgba(29, 29, 45);
  background-color: hsl(344, 76%, 68%);
}

.dark-mode .work__title {
  color: rgb(224, 222, 244);
}

.dark-mode .contact__title {
  color: rgb(224, 222, 244);
}

.dark-mode .nav__toggle {
  background-color: hsl(249, 23%, 12%);
  border-radius: 10px;
  border: 2px solid hsl(249, 15%, 38%);
}

/*=============================*/

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  line-height: 1.2;
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*===== Reusable CSS Classes ======*/

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.section__title::before {
  content: "";
  background: url(./assets/dots-bg.svg);
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  font-weight: var(--font-bold);
  background-color: var(--first-color);
  display: inline-block;
  color: #fff;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}
